html,
body {
  padding: 0%;
  margin: 0%;
  background-image: url('../images/background-home.jpg');
  background-position: top;
  background-attachment: fixed;
}

/* NAVBAR SECTION */
.bg-dark,
.navbar-dark {
  background-color: #000000 !important;
}

.fa-music {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  background-color: #6fb42a;
}

.result-container-bg {
  background-color: #00104f;
  position: fixed;
  opacity: .9;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* RESULT CONTAINER */
.result-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 8rem 3rem;
}

/* FOOTER SECTION */
.footer-area {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-area p {
  list-style: outside none none;
  margin: auto;
  padding: 0;
  text-transform: uppercase;
}