.result-content {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

.result-content h2 {
    width: 100%;
}

.results {
    list-style: none;
    margin: auto;
    display: inline-flex;
    width: 100%;
    height: auto;
    position: relative;
}

.results img {
    width: 100%;
    height: 90%;
}

.mv-info p {
    width: 100%;
}

.results a {
    text-decoration: none;
    color: #FFFFFF;
}

.results a:hover {
    color: #6fb42a;
}

.results p {
    width: 60%;
}

.fancybox {
    width: 500px;
    height: auto;
}

#next-button {
    float: right;
    background-color: #8ACA4A;
    width: 100px;
    border: none;
    padding: 5px;
}

#prev-button {
    float: left;
    background-color: #8ACA4A;
    width: 100px;
    border: none;
    padding: 5px;
}

#next-button:hover,
#prev-button:hover {
    background-color: #6fb42a;
    border: 1px solid white;
}